body {
	background-color: #0f1014;
	color: white; 
}

.navbar-title-text {
	font-size: 15px;
}

.avatar {
	border-radius: 50%;
	width: 60px;
	height: auto;
}

.mini-imagem {
	width: 15px;
	height: auto;
}